mongoDB_URI=mongodb://USERNAME:PASSWORD@host-00-00.mongodb.net:27017,host-00-01.mongodb.net:27017,host-00-02.mongodb.net:27017/taskdb?ssl=true&replicaSet=REPLICA_SET_NAME&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
